doctype html
html(lang="zh-CN")
    head
        title= pageTitle
        script(type='text/javascript').
            if('#{_id}'){
                window.login_user={
                    follower: '#{follower}'&&'#{follower}'.split(',')||[],
                    following: '#{following}'&&'#{following}'.split(',')||[],
                    collect: '#{collect}'&&'#{collect}'.split(',')||[],
                    post: '#{post}'&&'#{post}'.split(',')||[],
                    like: '#{like}'&&'#{like}'.split(',')||[],
                    _id: '#{_id}',
                    userName: '#{userName}'
                }
            }
        //- link(rel="stylesheet" href="/css/index.css") 
    body
        #root
    script(type='text/javascript',src='/js/vendor.js')
    script(type='text/javascript',src='/js/main.js')
